@media (max-width: 600px) {
    .cards {
        margin: 0 15px;
    }
}

@media (max-width: 520px) {
    main {
        flex-direction: column;
    }
    body {
        height: 100%;
    }
    .btn-seta {
        margin: 25px 0;
    }
}

@media (max-width: 350px) {
    .cards {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-left: 20px;
    }
    .card {
        width: 250px;
        
    }
}